In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
world = gpd.read_file('ne_50m_admin_0_countries/ne_50m_admin_0_countries.shp')
world = world[['SOVEREIGNT', 'geometry']].rename(columns={'SOVEREIGNT': 'country'})
world.head()

     country                                           geometry
0   Zimbabwe  POLYGON ((31.28789 -22.40205, 31.19727 -22.344...
1     Zambia  POLYGON ((30.39609 -15.64307, 30.25068 -15.643...
2      Yemen  MULTIPOLYGON (((53.08564 16.64839, 52.58145 16...
3    Vietnam  MULTIPOLYGON (((104.06396 10.39082, 104.08301 ...
4  Venezuela  MULTIPOLYGON (((-60.82119 9.13838, -60.94141 9...

In [3]:
data = pd.read_csv('happiness.csv')
data.columns=['country', 'region', 'happiness', 'logged_ppp', 'social_spt', 'life_exp', 'choice', 'generous', 'corruption', 'lon', 'lat']
data.head()

,country,region,happiness,logged_ppp,social_spt,life_exp,choice,generous,corruption,lon,lat
0,Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,34.159326,66.515510
1,Albania,Central and Eastern Europe,5.117,9.520,0.697,68.999,0.785,-0.030,0.901,40.647186,20.127352
2,Algeria,Middle East and North Africa,4.887,9.342,0.802,66.005,0.480,-0.067,0.752,27.896890,3.379277
3,Argentina,Latin America and Caribbean,5.929,9.962,0.898,69.000,0.828,-0.182,0.834,-33.528049,-64.168459
4,Armenia,Commonwealth of Independent States,5.283,9.487,0.799,67.055,0.825,-0.168,0.629,40.474724,44.805610

In [4]:
world = pd.merge(world.rename(columns={'CNTRY_NAME': 'country'}), data, on='country', how='inner')
world.head()

,country,geometry,region,happiness,logged_ppp,social_spt,life_exp,choice,generous,corruption,lon,lat
0,Zimbabwe,"POLYGON ((31.28789 -22.40205, 31.19727 -22.344...",Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,-18.919508,29.946601
1,Zambia,"POLYGON ((30.39609 -15.64307, 30.25068 -15.643...",Sub-Saharan Africa,4.073,8.145,0.708,55.809,0.782,0.061,0.823,-14.936526,25.940824
2,Yemen,"MULTIPOLYGON (((53.08564 16.64839, 52.58145 16...",Middle East and North Africa,3.658,7.578,0.832,57.122,0.602,-0.147,0.800,15.328226,45.874382
3,Vietnam,"MULTIPOLYGON (((104.06396 10.39082, 104.08301 ...",Southeast Asia,5.411,8.973,0.850,68.034,0.940,-0.098,0.796,21.732568,105.396672
4,Venezuela,"MULTIPOLYGON (((-60.82119 9.13838, -60.94141 9...",Latin America and Caribbean,4.892,9.073,0.861,66.700,0.615,-0.169,0.827,7.186460,-64.568705

In [9]:
type(world)

geopandas.geodataframe.GeoDataFrame

In [5]:
set(data['country']) - set(world['country'])

set()

In [6]:
world[world['country'].str.contains('Pale')]

Empty GeoDataFrame
Columns: [country, geometry, region, happiness, logged_ppp, social_spt, life_exp, choice, generous, corruption, lon, lat]
Index: []

In [7]:
world[~pd.isnull(world['happiness'])].shape[0]

187

In [ ]:
world.head

In [8]:
world.to_file('country')

In [ ]:
world.to_dict